.navbar{
  position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.exercises{
  padding-top:195px
}

.exercise_types{
  text-align: center;
    margin-top: 70px;
    position: fixed;
    left:0;
    right:0;
    z-index: 1;
    background: #191919!important;
}

.custom_alert.hide{
  display: none!important;
}

.custom_alert.show{
  display: block!important;
}

.react-calendar__month-view__weekdays{
  color: black;
}

.searchbar_container {
  position: relative;
}

.searchbar_container img{
  width: 25px;
  position: absolute;
  top: 6px;
  right: 12px;
  display: none;
}


.searchbar_container img.show{
  display: block;
}

/* .react-calendar__tile.testingTile{
  background: red!important
} */




/* .react-calendar {
  background: lightseagreen!important
} */
/* .list-group{
  padding-top: 135px;
} */

/* .button_container{
  position: fixed !important;
    top: 78px;
    left: 0;
    right: 0;
    z-index: 1;
} */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
